/* This is my style sheet*/
html{
    box-sizing: border-box;
    min-height: 120px;
    font-family: "Murecho";
}
body {
    min-height: 120px;
}
.container {
    min-height: 120px;
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    grid-template-areas:
            "head head"
            "table main"
            "table main"
            "table main"
            "footer footer";
}

header{
    grid-area: head;
    background-color: lightskyblue;

}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;

}

.container * {
    display: flex;
    margin-bottom: 1px;
    margin-right: 1px;
}

#title{
    text-align: center;
    color: black;
    font-size: 2em;
    flex-grow: 1.2;
}

/* Style links */
a {
    color: lightskyblue;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: green;
    text-decoration: line-through;
}
a:visited {
    color: rebeccapurple;
}

a:active{
    background-color: yellow;
}

main{
    grid-area: main;
    background-color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside{
    grid-area: table;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    align-items: center;
}

aside p{
    font-size: 50px;
    text-align: center;
}

@font-face {
    font-family: 'Murecho';
    src: url("Murecho-VariableFont_wght.ttf");
}










